<p id="notice"><%= notice %></p>

<h1>Battle Sprints</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Month</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @battle_sprints.each do |battle_sprint| %>
      <tr>
        <td><%= battle_sprint.name %></td>
        <td><%= battle_sprint.month %></td>
        <td><%= battle_sprint.start_date %></td>
        <td><%= battle_sprint.end_date %></td>
        <td><%= link_to 'Show', battle_sprint %></td>
        <td><%= link_to 'Edit', edit_battle_sprint_path(battle_sprint) %></td>
        <td><%= link_to 'Destroy', battle_sprint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Battle Sprint', new_battle_sprint_path %>
