<%= form_with(model: battle, local: true) do |form| %>

<% if battle.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(battle.errors.count, "error") %> prohibited this battle from being saved:</h2>

    <ul>
    <% battle.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= form_for @battle do |f| %>
    <div class="field">
      <%= f.label t 'activerecord.attributes.battle.battle_sprint' %>
      <%= f.collection_select :battle_sprints_id, @battle_sprints, :id, :name, :include_blank => true %>
    </div>

    <div class="field">
      <%= f.label t 'activerecord.attributes.battle.clan_user' %>
      <%= f.collection_select :clan_users_id, @clan_users, :id, :name, :include_blank => true %>
    </div>

    <div class="form-group">
      <%= f.label t 'activerecord.attributes.battle.character', :count => 1 %>
      <div class="field">
        <%= f.collection_select :characters_first_id, @characters, :id, :name, :include_blank => true %>
      </div>

      <div class="field">
        <%= f.collection_select :characters_second_id, @characters, :id, :name, :include_blank => true %>
      </div>

      <div class="field">
        <%= f.collection_select :characters_third_id, @characters, :id, :name, :include_blank => true %>
      </div>

      <div class="field">
        <%= f.collection_select :characters_fourth_id, @characters, :id, :name, :include_blank => true %>
      </div>

      <div class="field">
        <%= f.collection_select :characters_fifth_id, @characters, :id, :name, :include_blank => true %>
      </div>
    </div>

    <div class="field">
      <%= f.label t 'activerecord.attributes.battle.damage' %>
      <%= f.number_field :damage %>
    </div>

    <div class="field">
      <%= f.label t 'activerecord.attributes.battle.number' %>
      <div class="radio-inline">
        <%= f.radio_button :number, :one, checked: "checked" %>
        <%= f.label t 'activerecord.attributes.battle.one' %>
      </div>
      <div class="radio-inline">
        <%= f.radio_button :number, :two %>
        <%= f.label t 'activerecord.attributes.battle.two' %>
      </div>
      <div class="radio-inline">
        <%= f.radio_button :number, :three %>
        <%= f.label t 'activerecord.attributes.battle.three' %>
      </div>
    </div>

    <div class="actions float-left">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
