<p id="notice"><%= notice %></p>

<h1><%= t '.title' %></h1>

<%= search_form_for @q do |f| %>
<div class="flex">
  <div class="form-group">
    <%= f.label t 'activerecord.attributes.battle.number' %>
    <%= f.search_field :number_eq, placeholder: "1, 2, 3" %>
  </div>

  <div class="form-group mgnlft20">
    <%= f.label t 'activerecord.attributes.battle.battle_sprint' %>
    <%= f.search_field :battle_sprint_name_start, placeholder: "前方一致" %>
  </div>

  <div class="form-group mgnlft20">
    <%= f.label t 'activerecord.attributes.battle.clan_user' %>
    <%= f.search_field :clan_user_name_cont, placeholder: "部分一致" %>
  </div>

  <div class="mgnlft20"><%= f.submit %></div>
</div>
<% end %>

<table class="table table-hover">
  <thead>
    <tr class="row">
      <th class="text-nowrap col"><%= t 'activerecord.attributes.battle.battle_sprint' %></th>
      <th class="text-nowrap col"><%= t 'activerecord.attributes.battle.clan_user' %></th>
      <th class="text-nowrap col"><%= t 'activerecord.attributes.battle.damage' %></th>
      <th class="text-nowrap col"><%= t 'activerecord.attributes.battle.number' %></th>
      <th colspan="5" class="text-nowrap col"><%= t 'activerecord.attributes.battle.character' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @battles.each do |battle| %>
      <tr class="row">
        <td class="text-nowrap"><%= battle.battle_sprint.name %></td>
        <td><%= battle.clan_user.name %></td>
        <td><%= battle.damage %></td>
        <td><%= battle.number %></td>
        <td><%= image_tag(battle.first_character_image) %></td>
        <td><%= image_tag(battle.second_character_image) %></td>
        <td><%= image_tag(battle.third_character_image) %></td>
        <td><%= image_tag(battle.fourth_character_image) %></td>
        <td><%= image_tag(battle.fifth_character_image) %></td>

        <td><%= link_to t('link.Show'), battle, :class => 'btn btn-default' %></td>
        <td><%= link_to t('link.Edit'), edit_battle_path(battle), :class => 'btn btn-default' %></td>
        <td><%= link_to t('link.Destroy'), battle, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('link.New'), new_battle_path, :class => 'btn btn-primary' %>

<%= paginate @battles %>
