<p id="notice"><%= notice %></p>

<h1><%= t '.title' %></h1>

<p>
  <strong>Battle sprint:</strong>
  <%= @battle.battle_sprint.name %>
</p>

<p>
  <strong>Clan user:</strong>
  <%= @battle.clan_user.name %>
</p>

<p>
  <strong>character:</strong>
  <%= image_tag(@battle.first_character_image) %>
</p>
<p>
  <strong>character:</strong>
  <%= image_tag(@battle.second_character_image) %>
</p>
<p>
  <strong>character:</strong>
  <%= image_tag(@battle.third_character_image) %>
</p>
<p>
  <strong>character:</strong>
  <%= image_tag(@battle.fourth_character_image) %>
</p>
<p>
  <strong>character:</strong>
  <%= image_tag(@battle.fifth_character_image) %>
</p>

<p>
  <strong>Damage:</strong>
  <%= @battle.damage %>
</p>

<p>
  <strong>回数</strong>
  <%= @battle.number %>
</p>

<%= link_to 'Edit', edit_battle_path(@battle) %> |
<%= link_to 'Back', battles_path %>
